*
{
	margin:0px;
	padding:0px;
	background-size:cover;
}
/***************************************************************** menu style *************************************************************/
	/*logo-start*/
		.logo
			{
				float:left;
				padding:5px;
				width:30%;
			}
	/*logo-end*/
	
	/*menu-start*/
		.menuitem
		{
			text-align:right;
			background-color:#e6e6e6;
			position:fixed;
			width:100%;
			z-index:1;
		}

		.menuitem ul li a
		{
			color:black;
			font-weight:bold;
			text-decoration:none;
		}

		.menuitem ul li
		{
			list-style:none;
			display:inline-block;
			padding:20px;
			font-size:175%;
			font-family:sans-serif;	
		}

		.menuitem ul li a:hover
		{
			border-bottom: 3px solid orange;
			color:orange;
		}
	/*menu-end*/
	
	/*toggle-start*/
		.toggle
		{
			float: right;
			z-index: 1;
			display: none;
			width: 10%;
			padding:5px;
			/*toggle-end*/
		}
	
/***************************************************************** card style *************************************************************/
	.card-scroller
	{
		text-align:center;
		padding-top:100px;
		padding-bottom:150px;
	}

	.card
	{
		background-color:white;
		width:350px;
		height:50%;
		border-radius:10%;
		border:red;
		margin:20px;
		border:1px solid black;
		display:inline-block;
	}
	.image img
	{
		width:100%;
		height:80%;
		border-top-right-radius:10%;
		border-top-left-radius:10%;
	}

	.title  
	{
		padding:10px;
		text-align:center;
		font-size:20px;
	}

	.card:hover
	{
		box-shadow:  5px 5px 80px orange;
		transition:.5s;
		transform:scale(1.04);
	}
	a
	{
		text-decoration:none;
	}

/***************************************************************** footer *************************************************************/
	.message
	{
		color:white;
		float:left;
		font-size:400%;
		padding-left:5%;
		font-family:Brush Script MT;
		
	}
	.footer
	{
		text-align:end;
		background-color:black;
		position:fixed;
		left:0px;
		bottom:0px;
		height:auto;
		width:100%;
		
		
	}
	.footer ul li
	{
		list-style:none;
		display:inline-block;
		padding:20px;
		padding-right:5%;
		transform:scale(1.2);
	}
	.footer ul li a img:hover
	{
		transform:scale(1.5);
	}
/***************************************************************** responsive menu style *************************************************************/
	@media(max-width:915px)
	{
		.uli
		{
			display:none;
		}
		.toggle
		{
			display: inherit;
		}
		 .menuitem:hover.menuitem .uli
		{
			display:flex;
			flex-direction: column;
			align-items: center;
			float: none;
		} 
	}
/***************************************************************** responsive footer style *************************************************************/
	@media(max-width:900px)
	{
		.footer ul li
		{
			padding-right:3%;
		}
	}
	@media(max-width:820px)
	{
		.footer ul li
		{
			padding-right:2%;
		}
	}

	@media(max-width:775px)
	{
		.message
		{
			float:left;
			font-size:350%;
			padding-left:2%;	
		} 
		.footer ul li 
		{
			transform: scale(1.0);
		}
	}
	@media(max-width:665px)
	{
		.footer ul li
		{
			padding-right:1%;
		}
		.message
		{
			float:left;
			font-size:330%;
			padding-left:1%;	
		} 
	}
	@media(max-width:630px)
	{
		.footer ul li
		{
			padding-right:0%;
		}
		.message
		{
			padding-left:0%;	
		} 
		.footer ul
		{
			float: left;
		}
	}
	@media(max-width:292px)
	{
		.message
		{
			float:left;
			font-size:200%;	
		} 
		.footer ul li 
		{
			transform: scale(0.6);
			padding:0%;
		}
	}
/***************************************************************** responsive card style *************************************************************/
	@media(max-width:1200px)
	{
	   .card
		{
			width: 300px;
		}
	}