*
{
	margin:0px;
	padding:0px;
}
.message
{
	color:white;
	float:left;
	font-size:400%;
	padding-left:5%;
	font-family:Brush Script MT;	
}
.footer
{
	text-align:end;
	background-color:black;
	position:fixed;
	left:0px;
	bottom:0px;
	height:auto;
	width:100%;
	
}
.footer ul li
{
	list-style:none;
	display:inline-block;
	padding:20px;
	padding-right:5%;
    transform:scale(1.2);
}
.footer ul li a img:hover
{
	transform:scale(1.5);
}
/***************************************************************** responsive footer style *************************************************************/
@media(max-width:900px)
{
    .footer ul li
    {
        padding-right:3%;
    }
}
@media(max-width:820px)
{
    .footer ul li
    {
        padding-right:2%;
    }
}

@media(max-width:775px)
{
    .message
    {
        float:left;
        font-size:350%;
        padding-left:2%;	
    } 
    .footer ul li 
    {
        transform: scale(1.0);
    }
}
@media(max-width:665px)
{
    .footer ul li
    {
        padding-right:1%;
    }
    .message
    {
        float:left;
        font-size:330%;
        padding-left:1%;	
    } 
}
@media(max-width:630px)
{
    .footer ul li
    {
        padding-right:0%;
    }
    .message
    {
        float:left;
        font-size:330%;
        padding-left:0%;	
    } 
    .footer ul
    {
        float: left;
    }
}
@media(max-width:202px)
{
    .footer ul li
    {
        padding-right:0%;
    }
    .message
    {
        float:left;
        font-size:330%;
        padding-left:0%;	
    } 
    .footer ul
    {
        float: left;
    }
}