@media(max-width:910px)
{
	.card
	{
		width:70%;
	}
	.message
	{
		font-size:50px;

	}
	.footer ul li
	{
		padding-right:0px;	
	}
	.menuitem
	{
		text-align:center;
	}
	.menuitem ul li
	{
		display:inherit;
	}
}